@import 'normalize.css/normalize.css';

html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

@font-face {
  font-family: Chango;
  src: url(fonts/Chango-Regular.ttf) format('truetype');
}
